.App {
  color: #222;
  padding-bottom: 30px;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.App-viewer {
  perspective: 1400px;
}

.App-home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.App-home > div {
  margin: 0 4px 0;
  text-align: center;
}

.title {
  color: #333;
  text-align: center;
}

.card-button {
  border-radius: 10px;
  background: url(./city.jpg) top left no-repeat;
  background-size: cover;
  width: 145px;
  height: 180px;
  color: white;
  font-weight: 800;
  font-size: 26px;
  text-align: center;
  padding: 70px 20px 0;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.18);
}

.card-button-road {
  background: url(./road.jpg) top left no-repeat;
  background-size: cover;
}

.button {
  margin: 10px 20px 0;
  background: #333;
  color: #fff;
  border-radius: 8px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

.button-secondary {
  background: none;
  color: #999;
  font-weight: normal;
  margin: 0;
  line-height: 50px;
  height: 50px;
}

.button-floating {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  margin: 0;
  border-radius: 0;
  height: 60px;
  line-height: 60px;
}

.card {
  border-radius: 8px;
  position: relative;
  transition: transform 0.7s;
  transform-style: preserve-3d;
  width: 300px;
  height: 450px;
  margin: 12px auto 22px;
  cursor: pointer;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.18);
}

.card:focus {
  transform: rotateY(180deg);
  outline: none;
}

.card-front,
.card-back {
  width: 300px;
  display: block;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 12px;
}

.card-back {
  transform: rotateY(180deg);
}

.event-listitem {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 18px;
}

.event-listitem:nth-child(odd) {
  background: #f8f8f8;
}

.event-listitem input {
  margin-right: 16px;
}

.button-icon {
  position: relative;
  top: 4px;
  margin-right: 4px;
}
